<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
    </configSections>


    <!-- to see logging output in the attached debugger -->
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="INFO" />
            </factoryAdapter>
        </logging>
    </common>
    
    <appSettings>
        <add key="Tests.ConnectionString" value="Data Source=(local);Integrated Security=true; Initial Catalog=PonsTest" />
    </appSettings>
</configuration>